html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

ul,
p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

body {
  margin: 0 auto;
  background-color: #ffffff;
  color: #3f4255;
  font-family: "Martel Sans", sans-serif;
  overflow-x: hidden;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
  width: 1286px;
}

a {
  text-decoration: none;
  color: inherit;
}

.specialities__title, .delivery__title, .restaurants__title {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 36px;
  line-height: 1.78;
  letter-spacing: 0.08em;
}

.logo-slider__slide, .delivery__input, .delivery__text, .features__item {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

.delivery__button, .hero__item, .button-login, .header__menu {
  font-family: "Martel Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.5px;
}

.logo-slider__button, .card-slider__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
  color: #9093a6;
  border: none;
  border-radius: 50%;
  background: #ffffff;
  -webkit-box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.header {
  position: relative;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #d4d7e6;
}
.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  padding: 23px 0 18px 0;
}
.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu {
  position: absolute;
  right: 0;
  top: 102%;
  z-index: 1;
  width: 285px;
  height: calc(100vh - 72px);
  padding: 20px 36px;
  background: #fff;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  -webkit-box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.08);
          box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.08);
  -webkit-transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}
.header__menu.is-open {
  display: block;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}
.header__contact {
  padding-bottom: 24px;
  border-bottom: 1px solid #f2f4fa;
}
.header__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3f4255;
}
.header__tel:hover .header__tel-icon, .header__tel:focus .header__tel-icon {
  color: #ffe145;
}
.header__tel-icon {
  margin-right: 13px;
  color: #d4d7e6;
  fill: currentColor;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__work-time {
  margin-left: 37px;
  margin-top: 4px;
  letter-spacing: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  line-height: 1.33;
  color: #9093a6;
}

.button-login {
  margin-right: 45px;
  padding: 20px 0 18px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #9093a6;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-login:hover, .button-login:focus {
  color: #3f4255;
}
.button-login__icon {
  margin-right: 2px;
  fill: currentColor;
}

.button-menu {
  width: 53px;
  height: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
  color: #9093a6;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.button-menu.is-open {
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}
.button-menu__cross {
  display: none;
}
.button-menu.is-open .button-menu__cross {
  display: block;
}
.button-menu.is-open .button-menu__icon {
  display: none;
}
.button-menu:hover {
  color: #3f4255;
}

.nav__item {
  padding: 22px 0;
  border-bottom: 1px solid #f2f4fa;
}
.nav__link {
  color: #9093a6;
}
.nav__link:hover, .nav__link:focus {
  color: #3f4255;
}

.hero {
  max-width: 1440px;
  position: relative;
  min-height: 731px;
  padding-top: 120px;
  margin: 0 auto 57px;
  background: url("../img/photo-hero-big.png") top 12px right 72px no-repeat;
}
.hero__title {
  max-width: 528px;
  font-family: "Poppins";
  font-weight: 300;
  font-size: 58px;
  line-height: 1.1;
  letter-spacing: 0.05em;
}
.hero__list {
  margin-top: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero__item {
  margin-right: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 22px;
  border: 2px solid #ffe145;
  border-radius: 4px;
}
.hero__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: normal;
}

.features {
  position: absolute;
  left: 0;
  bottom: -57px;
  padding: 28px 33px 28px 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 250px;
}
.features__item + .features__item {
  margin-left: 46px;
}
.features__item:last-child {
  margin-left: 53px;
}
.features__icon {
  margin-right: 16px;
}

.restaurants {
  padding-top: 42px;
  padding-bottom: 52px;
}
.restaurants__title {
  margin-bottom: 18px;
}
.restaurants__slider {
  position: relative;
}

.card-slider__slide {
  margin: 20px 0;
  -webkit-box-shadow: 0px 2px 16px rgba(60, 62, 74, 0.08);
          box-shadow: 0px 2px 16px rgba(60, 62, 74, 0.08);
  border-radius: 4px;
  overflow: hidden;
}
.card-slider__button--left {
  position: absolute;
  top: 145px;
  left: -20px;
  z-index: 2;
}
.card-slider__button--right {
  position: absolute;
  top: 145px;
  right: -22px;
  z-index: 2;
}
.card-slider__button:hover {
  color: #3f4255;
}

.delivery {
  padding-top: 76px;
  padding-bottom: 81px;
  background-color: #f2f4fa;
}
.delivery__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.delivery__content {
  margin-right: 159px;
}
.delivery__title {
  margin-bottom: 24px;
}
.delivery__text {
  max-width: 365px;
}
.delivery__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.delivery__input-box {
  position: relative;
  margin-right: 4px;
}
.delivery__input {
  width: 100%;
  min-width: 336px;
  padding: 24px 16px 24px 48px;
  border: none;
  -webkit-box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}
.delivery__icon {
  position: absolute;
  left: 16px;
  top: 24px;
}
.delivery__button {
  padding: 26px 24px;
  color: #b79c10;
  border: none;
  background: #ffe145;
  border-radius: 4px;
  cursor: pointer;
}
.delivery__button:hover, .delivery__button:focus {
  background: #fff7cc;
}

.specialities {
  padding-top: 66px;
  padding-bottom: 43px;
}
.specialities__title {
  margin-bottom: 9px;
}
.specialities__slider {
  position: relative;
}

.logo-slider {
  padding: 9px;
  margin: 0px -9px;
}
.logo-slider__slide {
  margin: 20px 0;
  height: 136px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 2px 16px rgba(60, 62, 74, 0.08);
          box-shadow: 0px 2px 16px rgba(60, 62, 74, 0.08);
  border-radius: 6px;
}
.logo-slider__logo {
  margin-bottom: 16px;
}
.logo-slider__button--left {
  position: absolute;
  top: 73px;
  left: -20px;
  z-index: 2;
}
.logo-slider__button--right {
  position: absolute;
  top: 73px;
  right: -23px;
  z-index: 2;
}
.logo-slider__button:hover {
  color: #3f4255;
}/*# sourceMappingURL=main.css.map */