@font-face {
  font-family: "Open Sans Condensed";
  font-weight: 700;
  font-style: normal;
  src: local("Open Sans Condensed"), local("OpenSans-CondBold"), url("../fonts/OpenSans-CondBold.woff2") format("woff2"), url("../fonts/OpenSans-CondBold.woff") format("woff"), url("../fonts/OpenSans-CondBold.eot") format("eot");
  font-display: swap;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

ul,
p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

body {
  margin: 0 auto;
  background-color: #ffffff;
  color: #3f4255;
  font-family: "Martel Sans", sans-serif;
  overflow-x: hidden;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
  max-width: 1286px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (max-width: 480px) {
  .container {
    max-width: 480px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.instafoto__title, .specialities__title, .delivery__title, .restaurants__title {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 36px;
  line-height: 1.78;
  letter-spacing: 0.08em;
}
@media screen and (max-width: 768px) {
  .instafoto__title, .specialities__title, .delivery__title, .restaurants__title {
    font-size: 34px;
  }
}
@media screen and (max-width: 480px) {
  .instafoto__title, .specialities__title, .delivery__title, .restaurants__title {
    font-size: 30px;
  }
}

.contacts__item, .logo-slider__slide, .delivery__input, .delivery__text, .features__item {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
}
@media screen and (max-width: 480px) {
  .contacts__item, .logo-slider__slide, .delivery__input, .delivery__text, .features__item {
    font-size: 13px;
  }
}

.contacts__link, .footer__item, .delivery__button, .hero__item, .button-login, .header__menu {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.5px;
}
@media screen and (max-width: 480px) {
  .contacts__link, .footer__item, .delivery__button, .hero__item, .button-login, .header__menu {
    font-size: 13px;
  }
}

.logo-slider__button, .card-slider__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
  color: #9093a6;
  border: none;
  border-radius: 50%;
  background: #ffffff;
  -webkit-box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
@media screen and (max-width: 700px) {
  .logo-slider__button, .card-slider__button {
    width: 40px;
    height: 40px;
  }
}

.footer__title {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
}

.header {
  position: relative;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #d4d7e6;
}
.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  padding: 23px 0 18px 0;
}
@media screen and (max-width: 480px) {
  .header__logo {
    padding: 12px 0 10px 0;
  }
  .header__logo-icon {
    width: 130px;
  }
}
.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu {
  position: absolute;
  right: 0;
  top: 102%;
  z-index: 1;
  max-width: 285px;
  width: 100%;
  height: 100vh;
  padding: 20px 36px;
  background: #fff;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  -webkit-box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.08);
          box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.08);
  -webkit-transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}
.header__menu.is-open {
  display: block;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}
.header__contact {
  padding-bottom: 24px;
  border-bottom: 1px solid #f2f4fa;
}
@media screen and (max-width: 480px) {
  .header__contact {
    padding-bottom: 16px;
  }
}
.header__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3f4255;
}
.header__tel:hover .header__tel-icon, .header__tel:focus .header__tel-icon {
  color: #ffe145;
}
.header__tel-icon {
  margin-right: 13px;
  color: #d4d7e6;
  fill: currentColor;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__work-time {
  margin-left: 37px;
  margin-top: 4px;
  letter-spacing: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  line-height: 1.33;
  color: #9093a6;
}

.button-login {
  margin-right: 45px;
  padding: 20px 0 18px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #9093a6;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-login:hover, .button-login:focus {
  color: #3f4255;
}
@media screen and (max-width: 480px) {
  .button-login {
    margin-right: 10px;
    padding: 12px 0 10px 0;
  }
}
.button-login__icon {
  margin-right: 2px;
  fill: currentColor;
}
@media screen and (max-width: 480px) {
  .button-login__icon {
    width: 20px;
    height: 20px;
  }
}

.button-menu {
  width: 53px;
  height: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
  color: #9093a6;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .button-menu {
    margin-right: 10px;
  }
}
@media screen and (max-width: 480px) {
  .button-menu {
    width: 40px;
    height: 40px;
    margin-right: 0px;
  }
  .button-menu__burger {
    width: 20px;
    height: 20px;
  }
}
.button-menu.is-open {
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}
.button-menu__cross {
  display: none;
}
.button-menu.is-open .button-menu__cross {
  display: block;
}
.button-menu.is-open .button-menu__icon {
  display: none;
}
.button-menu:hover {
  color: #3f4255;
}

.nav__item {
  padding: 22px 0;
  border-bottom: 1px solid #f2f4fa;
}
@media screen and (max-width: 480px) {
  .nav__item {
    padding: 16px 0;
  }
}
.nav__link {
  color: #9093a6;
}
.nav__link:hover, .nav__link:focus {
  color: #3f4255;
}

.benefits,
.instafoto,
footer {
  display: none;
}

.hero {
  max-width: 1440px;
  position: relative;
  min-height: 731px;
  padding-top: 120px;
  margin: 0 auto 57px;
  background: url("../img/photo-hero-big.png") top 12px right 72px no-repeat;
  background-size: 57.5%;
}
@media screen and (max-width: 1080px) {
  .hero {
    margin-bottom: 0;
    background-position: top 93px right 30px;
    padding-top: 75px;
  }
}
@media screen and (max-width: 768px) {
  .hero {
    min-height: 500px;
    padding-top: 77px;
    margin-bottom: 20px;
    background-position: top 51% right 5%;
    background-size: 64%;
  }
}
@media screen and (max-width: 480px) {
  .hero {
    min-height: 457px;
    margin-bottom: 0;
    background-position: top 116px right 0;
    background-size: 80%;
  }
}
@media screen and (max-width: 440px) {
  .hero {
    background: url("../img/rucola-png.png") top 125px right -21px no-repeat;
    min-height: 320px;
  }
}
.hero__title {
  max-width: 528px;
  font-family: "Poppins";
  font-weight: 300;
  font-size: 58px;
  line-height: 1.1;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 768px) and (max-width: 1080px) {
  .hero__title {
    font-size: 56px;
  }
}
@media screen and (max-width: 768px) {
  .hero__title {
    max-width: 434px;
    font-size: 44px;
  }
}
@media screen and (max-width: 480px) {
  .hero__title {
    max-width: 370px;
    font-size: 37px;
  }
}
@media screen and (max-width: 440px) {
  .hero__title {
    max-width: 290px;
    font-size: 33px;
  }
}
.hero__list {
  margin-top: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .hero__list {
    margin-top: 56px;
  }
}
@media screen and (max-width: 480px) {
  .hero__list {
    max-width: 118px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
  }
}
.hero__item {
  margin-right: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 22px;
  border: 2px solid #ffe145;
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  .hero__item {
    padding: 10px 16px;
    margin-right: 12px;
  }
}
@media screen and (max-width: 480px) {
  .hero__item {
    margin-right: 0;
    margin-bottom: 8px;
  }
}
.hero__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: normal;
}
@media screen and (max-width: 480px) {
  .hero__text {
    font-size: 10px;
  }
}

.features {
  position: absolute;
  left: 0;
  bottom: -57px;
  padding: 28px 33px 28px 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
@media screen and (min-width: 768px) and (max-width: 1080px) {
  .features {
    padding: 28px 29px 28px 36px;
    bottom: 30px;
  }
}
@media screen and (max-width: 768px) {
  .features {
    bottom: -20px;
    padding: 17px 20px 17px 45px;
  }
}
@media screen and (max-width: 600px) {
  .features {
    padding: 10px 15px 10px 20px;
  }
}
@media screen and (max-width: 480px) {
  .features {
    display: none;
  }
}
.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 250px;
}
@media screen and (min-width: 768px) and (max-width: 1080px) {
  .features__item {
    font-size: 13px;
  }
}
@media screen and (max-width: 768px) {
  .features__item {
    max-width: 175px;
    font-size: 10px;
  }
}
@media screen and (max-width: 600px) {
  .features__item {
    font-size: 10px;
  }
}
.features__item + .features__item {
  margin-left: 46px;
}
@media screen and (max-width: 768px) {
  .features__item + .features__item {
    margin-left: 26px;
  }
}
@media screen and (max-width: 600px) {
  .features__item + .features__item {
    margin-left: 10px;
  }
}
.features__item:last-child {
  margin-left: 53px;
}
@media screen and (max-width: 768px) {
  .features__item:last-child {
    margin-left: 33px;
  }
}
@media screen and (max-width: 600px) {
  .features__item:last-child {
    margin-left: 13px;
  }
}
.features__icon {
  margin-right: 16px;
}
@media screen and (max-width: 768px) {
  .features__icon {
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 600px) {
  .features__icon {
    width: 28px;
    height: 28px;
  }
}

.restaurants {
  padding-top: 42px;
  padding-bottom: 52px;
}
@media screen and (max-width: 1080px) {
  .restaurants {
    padding-top: 22px;
  }
}
@media screen and (max-width: 768px) {
  .restaurants {
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 480px) {
  .restaurants {
    padding-bottom: 30px;
  }
}
.restaurants__title {
  margin-bottom: 18px;
}
@media screen and (max-width: 768px) {
  .restaurants__title {
    margin-bottom: 4px;
  }
}
@media screen and (max-width: 480px) {
  .restaurants__title {
    margin-bottom: -9px;
  }
}
.restaurants__slider {
  position: relative;
}

@media screen and (min-width: 768px) and (max-width: 1080px) {
  .card-slider {
    max-width: calc(100% - 15px);
  }
}
.card-slider__slide {
  margin: 20px 0;
  -webkit-box-shadow: 0px 2px 16px rgba(60, 62, 74, 0.08);
          box-shadow: 0px 2px 16px rgba(60, 62, 74, 0.08);
  border-radius: 4px;
  overflow: hidden;
}
.card-slider__button--left {
  position: absolute;
  top: 50%;
  left: -20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
}
@media screen and (max-width: 1080px) {
  .card-slider__button--left {
    left: -14px;
  }
}
@media screen and (max-width: 768px) {
  .card-slider__button--left {
    left: -13px;
  }
}
.card-slider__button--right {
  position: absolute;
  top: 50%;
  right: -22px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
}
@media screen and (max-width: 1080px) {
  .card-slider__button--right {
    right: -13px;
  }
}
@media screen and (max-width: 768px) {
  .card-slider__button--right {
    right: -9px;
  }
}
.card-slider__button:hover {
  color: #3f4255;
}

.delivery {
  padding-top: 76px;
  padding-bottom: 81px;
  background-color: #f2f4fa;
}
@media screen and (max-width: 1080px) {
  .delivery {
    padding-top: 52px;
    padding-bottom: 52px;
  }
}
@media screen and (max-width: 768px) {
  .delivery {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 480px) {
  .delivery {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.delivery__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1080px) {
  .delivery__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 1080px) {
  .delivery__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 511px) {
  .delivery__content {
    margin-bottom: 26px;
  }
}
.delivery__title {
  margin-bottom: 24px;
}
@media screen and (max-width: 1080px) {
  .delivery__title {
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 511px) {
  .delivery__title {
    margin-bottom: 10px;
    line-height: 1;
    text-align: center;
  }
}
.delivery__text {
  max-width: 365px;
}
@media screen and (max-width: 1080px) {
  .delivery__text {
    text-align: center;
  }
}
.delivery__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.delivery__input-box {
  position: relative;
  margin-right: 4px;
}
.delivery__input {
  max-width: 336px;
  width: 100%;
  padding: 24px 16px 24px 48px;
  border: none;
  -webkit-box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}
@media screen and (max-width: 480px) {
  .delivery__input {
    font-size: 10px;
  }
}
.delivery__icon {
  position: absolute;
  left: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.delivery__button {
  padding: 26px 24px;
  max-width: 88px;
  width: 100%;
  color: #b79c10;
  border: none;
  background: #ffe145;
  border-radius: 4px;
  cursor: pointer;
}
.delivery__button:hover, .delivery__button:focus {
  background: #fff7cc;
}
@media screen and (max-width: 480px) {
  .delivery__button {
    padding: 24px 24px;
  }
}

.specialities {
  padding-top: 66px;
  padding-bottom: 43px;
}
@media screen and (max-width: 1080px) {
  .specialities {
    padding-top: 52px;
  }
}
@media screen and (max-width: 480px) {
  .specialities {
    padding-top: 30px;
    padding-bottom: 20px;
  }
}
.specialities__title {
  margin-bottom: 9px;
}
@media screen and (max-width: 480px) {
  .specialities__title {
    margin-bottom: -9px;
  }
}
.specialities__slider {
  position: relative;
}

.logo-slider {
  padding: 9px;
  margin: 0px -9px;
}
@media screen and (min-width: 768px) and (max-width: 1080px) {
  .logo-slider {
    max-width: calc(100% - 15px);
    padding: 0;
    margin: 0 auto;
  }
}
.logo-slider__slide {
  margin: 20px 0;
  height: 136px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 2px 16px rgba(60, 62, 74, 0.08);
          box-shadow: 0px 2px 16px rgba(60, 62, 74, 0.08);
  border-radius: 6px;
}
.logo-slider__logo {
  margin-bottom: 16px;
}
.logo-slider__button--left {
  position: absolute;
  top: 50%;
  left: -23px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
}
@media screen and (max-width: 1080px) {
  .logo-slider__button--left {
    left: -8px;
  }
}
@media screen and (max-width: 480px) {
  .logo-slider__button--left {
    left: -12px;
  }
}
.logo-slider__button--right {
  position: absolute;
  top: 50%;
  right: -24px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
}
@media screen and (max-width: 1080px) {
  .logo-slider__button--right {
    right: -8px;
  }
}
@media screen and (max-width: 480px) {
  .logo-slider__button--right {
    right: -10px;
  }
}
.logo-slider__button:hover {
  color: #3f4255;
}

.benefits {
  max-width: 1440px;
  padding-top: 56px;
  padding-bottom: 45px;
  margin: 0 auto;
  background: url("../img/bg.jpg") no-repeat;
}
.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 6px;
}
.benefits__item {
  width: 183px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.benefits__item + .benefits__item {
  margin-left: 25px;
}
.benefits__number {
  position: relative;
  width: 127px;
  height: 127px;
  margin-bottom: 15px;
  margin-top: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Open Sans Condensed";
  font-weight: 700;
  font-size: 58px;
  line-height: 1.1;
  letter-spacing: 0.05em;
  border-radius: 50%;
  z-index: 2;
}
.benefits__number::before {
  content: " ";
  position: absolute;
  top: 16px;
  width: 126px;
  height: 126px;
  background: #ffe145;
  border-radius: 50%;
  z-index: -2;
}
.benefits__number::after {
  content: " ";
  position: absolute;
  top: -7px;
  width: 126px;
  height: 126px;
  border: 1px solid #b79c10;
  border-radius: 50%;
  z-index: -1;
}
.benefits__text {
  width: 225px;
  text-align: center;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
}

.instafoto {
  padding-top: 72px;
  padding-bottom: 72px;
}
.instafoto__title {
  margin-bottom: 21px;
}
.instafoto__text {
  color: #9093a6;
}
.instafoto__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.instafoto__item {
  width: calc((100% - 72px) / 4);
  border-radius: 6px;
  overflow: hidden;
}
.instafoto__item + .instafoto__item {
  margin-left: 24px;
}

.footer {
  background-color: #3f4255;
  padding-top: 48px;
  padding-bottom: 48px;
  color: #d4d7e6;
}
.footer__first-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 96px;
}
.footer__logo-box {
  min-width: 296px;
  margin-right: 184px;
}
.footer__logo {
  position: relative;
  margin-bottom: 90px;
  display: block;
}
.footer__logo::before {
  content: " ";
  position: absolute;
  top: 72px;
  width: 296px;
  height: 1px;
  background: #d4d7e6;
}
.footer__info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__title {
  margin-bottom: 24px;
  color: #ffffff;
}
.footer__item {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__item:hover, .footer__item:focus {
  cursor: pointer;
  color: #b79c10;
}
.footer__item + .footer__item {
  margin-top: 16px;
}
.footer__second-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__copyright-item {
  font-weight: 800;
  font-size: 12px;
  line-height: 1.33;
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__copyright-item:hover, .footer__copyright-item:focus {
  cursor: pointer;
  color: #b79c10;
}
.footer__copyright-item + .footer__copyright-item {
  margin-left: 60px;
}

.download-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.download-link__item + .download-link__item {
  margin-left: 9px;
}

.contacts {
  max-width: 296px;
  width: 100%;
}
.contacts__item {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__item:hover, .contacts__item:focus {
  cursor: pointer;
  color: #b79c10;
}
.contacts__item + .contacts__item {
  margin-top: 14px;
}
.networks__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.networks_item {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.networks_item:hover, .networks_item:focus {
  cursor: pointer;
  color: #b79c10;
}
.networks_item + .networks_item {
  margin-left: 24px;
}/*# sourceMappingURL=main.css.map */