.benefits {
 max-width: 1440px;
 padding-top: 56px;
 padding-bottom: 45px;
 margin: 0 auto;

 background: url('../img/bg.jpg') no-repeat;

 @media screen and (max-width: $width-tablet) {
  padding-top: 40px;
  padding-bottom: 40px;

  background: $secondary-bg-color;
 }

 @media screen and (max-width: $width-mobile) {
  display: none;
 }

 &__list {
  display: flex;
  justify-content: center;
  margin-top: 6px;
 }

 &__item {
  max-width: 183px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 1080px) {
   max-width: 140px;
  }

  @media screen and (max-width: $width-tablet) {
   max-width: 125px;
  }

  & + & {
   margin-left: 25px;

   @media screen and (max-width: 1080px) {
    margin-left: 10px;
   }

   @media screen and (max-width: $width-tablet) {
    margin-left: 20px;
   }
  }
 }

 &__number {
  position: relative;
  width: 127px;
  height: 127px;
  margin-bottom: 15px;
  margin-top: 1px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Open Sans Condensed';
  font-weight: 700;
  font-size: 58px;
  line-height: 1.1;
  letter-spacing: 0.05em;

  border-radius: 50%;

  z-index: 2;

  @media screen and (max-width: 1080px) {
   width: 101px;
   height: 101px;

   font-size: 36px;
  }

  @media screen and (max-width: $width-tablet) {
   width: 85px;
   height: 85px;
   font-size: 26px;
  }

  &::before {
   content: ' ';
   position: absolute;
   top: 16px;

   width: 126px;
   height: 126px;

   background: #ffe145;
   border-radius: 50%;
   z-index: -2;

   @media screen and (max-width: 1080px) {
    width: 100px;
    height: 100px;
   }

   @media screen and (max-width: $width-tablet) {
    width: 84px;
    height: 84px;
   }
  }
  &::after {
   content: ' ';
   position: absolute;
   top: -7px;

   width: 126px;
   height: 126px;

   border: 1px solid #b79c10;
   border-radius: 50%;
   z-index: -1;

   @media screen and (max-width: 1080px) {
    width: 100px;
    height: 100px;

    top: -1px;
   }

   @media screen and (max-width: $width-tablet) {
    width: 84px;
    height: 84px;
   }
  }
 }

 &__text {
  max-width: 225px;
  width: 100%;
  text-align: center;

  white-space: nowrap;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;

  @media screen and (max-width: 1080px) {
   font-size: 24px;
  }

  @media screen and (max-width: $width-tablet) {
   font-size: 16px;
  }
 }
}
