.instafoto {
 padding-top: 72px;
 padding-bottom: 72px;

 @media screen and (max-width: $width-tablet) {
  padding-top: 52px;
  padding-bottom: 52px;
 }

 @media screen and (max-width: $width-mobile) {
  padding-top: 20px;
  padding-bottom: 40px;
 }

 &__title {
  @extend %section-title;
  margin-bottom: 21px;

  @media screen and (max-width: 605px) {
   display: flex;
   flex-direction: column;
   margin-bottom: 25px;

   text-align: center;
   line-height: 1;
  }
 }

 &__text {
  color: $secondary-text-color;
 }

 &__slider {
  position: relative;

  @media screen and (max-width: 1300px) {
   padding: 0 9px;
  }
 }

 &__item {
  border-radius: 6px;
  overflow: hidden;
 }

 &__button {
  @extend %slider-button;

  @media screen and (min-width: 769px) {
   visibility: hidden;
  }

  &--right {
   right: -12px;
  }

  &--left {
   left: -12px;
  }
 }
}

.instafoto-slider {
 border-radius: 6px;
}
