body {
 margin: 0 auto;

 background-color: $white-color;
 color: $primary-text-color;

 font-family: 'Martel Sans', sans-serif;

 overflow-x: hidden;
}

.container {
 margin-right: auto;
 margin-left: auto;
 padding: 0 15px;
 width: 1286px;
}

a {
 text-decoration: none;
 color: inherit;
}
