body {
 margin: 0 auto;

 background-color: $white-color;
 color: $primary-text-color;

 font-family: 'Martel Sans', sans-serif;

 overflow-x: hidden;
}

.container {
 margin-right: auto;
 margin-left: auto;
 padding: 0 15px;
 max-width: 1286px;
 width: 100%;

 @media screen and (max-width: $width-tablet) {
  max-width: $width-tablet;
 }

 @media screen and (max-width: $width-mobile) {
  max-width: $width-mobile;
 }
}

a {
 text-decoration: none;
 color: inherit;
}
