body {
 background-color: $white-color;
 color: $primary-text-color;

 font-family: 'Martel Sans', sans-serif;
 //  letter-spacing: 0.5px;

 overflow-x: hidden;
 margin: 0;
}

.container {
 margin-right: auto;
 margin-left: auto;
 padding: 0 15px;
 width: 1282px;
}

a {
 text-decoration: none;
 color: inherit;
}
