%section-title {
 font-family: 'Poppins';
 font-weight: 300;
 font-size: 36px;
 line-height: 1.78;

 letter-spacing: 0.08em;

 @media screen and (max-width: $width-tablet) {
  font-size: 34px;
 }

 @media screen and (max-width: $width-mobile) {
  font-size: 30px;
 }
}

%section-text {
 font-weight: 300;
 font-size: 16px;
 line-height: 1.5;

 letter-spacing: 0.5px;

 @media screen and (max-width: $width-mobile) {
  font-size: 13px;
 }
}

%text-button {
 font-weight: 700;
 font-size: 16px;
 line-height: 1.25;

 letter-spacing: 0.5px;

 @media screen and (max-width: $width-mobile) {
  font-size: 13px;
 }
}

%slider-button {
 position: absolute;
 top: 50%;

 display: flex;
 justify-content: center;
 align-items: center;

 width: 48px;
 height: 48px;

 color: $secondary-text-color;
 border: none;
 border-radius: 50%;
 background: #ffffff;
 box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);

 transform: translateY(-50%);
 z-index: 2;
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

 cursor: pointer;

 @media screen and (max-width: 700px) {
  width: 40px;
  height: 40px;
 }

 &:hover {
  color: $primary-text-color;
 }
}

%footer-title {
 font-family: 'Poppins';
 font-weight: 600;
 font-size: 24px;
 line-height: 1.33;
}
